#new-library {
    background-color: #ffd3b6;;
    margin: 1em 0;
    border-radius: 5px;
}
.card-header {
    padding: 1em;

    .btn.btn-danger {
        float: right;
    }
}
.card-body {
    .row.book-info {
        margin: 1em;
        border-bottom: 2px solid #a8e6cf;
        padding-bottom: 1em;
    }
} 

.book-input {
    padding: 20px 25px 25px 25px;
    background-color:  #ffd3b6;
    margin-bottom: 2em;
    border-radius: 5px;

    h3 {
        color:#000;
    }
}
.card {
    background-color: #dcedc1 !important;
}
.btn-danger {
    background-color: #ff8b94 !important;
    border: 0 !important;
}
.btn-info {
    background-color: #a8e6cf !important;
    border: 0 !important;
}
.book-info {

    .col-lg {
        flex: 4 0 0% !important;
    }
    .btn.btn-danger {
        float: right;
    }
}